@model CardsAPI.Models.CardsAPIViewModel
@{
    ViewBag.Title = "DealCard";
}

<h2>Deal Card</h2>

<h3>Your Card</h3>

@foreach (var card in Model.cards)
{
    <img src=@card.image />
}

<br />
<p>You have @Model.remaining cards remaining</p>

<br />
<p><a class="btn btn-default" href="@Url.Action("DealCard", "Card", new { deck_id = @Model.deck_id })">Deal a Card</a></p>


